# Project Overview
I am trying to build a live chess game recorder. This system will convert the game video into the FEN notation using machine learning algorithms.

# Strategy to solve the problem
I have a chess_game_recorder_v2.py script that can do analysis on a stream of frames from a video of a chess game starting from an initial position. I now want to port this to Android TFlite platform. Essentially convert recorder python script into a full blown android app where all model evaluation will happen on the mobile. 

# Current Stage of the project
1. I have the chess_game_recorder_v2.py

# Next Steps
1. Make an android app out of the recorder script.
2. Android will allow to start recording a game. 
3. It will also indicate when it has detected an initial state of the board by using the logic of the recorder script.
4. On the ui it will show a synthetic view of the board which will follow the game being recorded.
5. We will use Flutter for this job.